<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">JsonapiFiddle</a>
  {{run-button}}
</nav>

<main role="main" class="container-fluid">
  <div class="row">
    <div class="col">
      {{code-editor}}
    </div>
    <div class="col">
      {{code-result}}
    </div>
  </div>
</main>